.main {
	display: flex;
	justify-content: center;
	min-height: 85vh;
	background-color: rgb(231, 231, 231);
}
.container {
	background-color: white;
	position: absolute;
	margin-top: 0;
	width: 90%;
	height: 80%;
}
